---
import Footer from '@/sections/footer.astro';
import Header from '@/sections/header.astro';
import "@/styles/global.css"
import  { ViewTransitions } from "astro:transitions"
interface Props {
    title: string
    description: string
}

const { title, description} = Astro.props;
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="description" content={description}/>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
        <ViewTransitions/>
	</head>
	<body class="relative">
        <Header/>
        <slot/>
		<Footer/>
	</body>
</html>

<style is:global>
    html{
        scroll-behavior: smooth;
    }
</style>
