---
import Next from "@/components/icons/next.astro"
import  TailwindCss from "@/components/icons/tailwindcss.astro"
const skillsList = [
    {
        icon: Next,
        alt: "NextJs Icon"
    },
    {
        icon: TailwindCss,
        alt: "TailwindCss Icon"
    }
]

---

<div>
    <!-- {
        skillsList.map((index) =>(
            <img src={index.icon} alt={index.alt}>
        ))
    } -->
</div>